<div class="row center">
  <div class="input-field col s8 m8 l8">
    <input id="search-keyword" type="text">
    <label for="search-keyword">タイトル、詳細</label>
  </div>
  <div class="input-field col s3 m3 l3">
    <a href="#" class="waves-light btn"><i class="fa fa-search"></i></a>
  </div>
</div>

<section>
  <h5>最近見た画像</h5>
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img class="materialboxed responsive-img" src="http://placehold.jp/400x250.png?text=sample1"
      data-caption="画像タイトル1"></a>
    <a class="carousel-item" href="#two!"><img class="materialboxed responsive-img" src="http://placehold.jp/400x250.png?text=sample2"
      data-caption="画像タイトル2"></a>
    <a class="carousel-item" href="#three!"><img class="materialboxed responsive-img" src="http://placehold.jp/400x250.png?text=sample3"
      data-caption="画像タイトル3"></a>
    <a class="carousel-item" href="#four!"><img class="materialboxed responsive-img" src="http://placehold.jp/400x250.png?text=sample4"
      data-caption="画像タイトル4"></a>
  </div>
  <div class="row">
    <div class="center-align">
      <a href="#" class="waves-light btn-large center">
        <i class="right fa fa-plus"></i>続きを見る
      </a>
    </div>
  </div>
</section>


<div class="row"></div>

<p>
  <h5>最近アップロードした画像</h5>
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img class="materialboxed responsive-img" src="http://placehold.jp/400x250.png?text=sample1"
      data-caption="画像タイトル1"></a>
    <a class="carousel-item" href="#two!"><img class="materialboxed responsive-img" src="http://placehold.jp/400x250.png?text=sample2"
      data-caption="画像タイトル2"></a>
    <a class="carousel-item" href="#three!"><img class="materialboxed responsive-img" src="http://placehold.jp/400x250.png?text=sample3"
      data-caption="画像タイトル3"></a>
    <a class="carousel-item" href="#four!"><img class="materialboxed responsive-img" src="http://placehold.jp/400x250.png?text=sample4"
      data-caption="画像タイトル4"></a>
  </div>
</p>

<div class="row">
  <div class="center-align">
    <a href="#" class="waves-light btn-large center">
      <i class="right fa fa-plus"></i>続きを見る
    </a>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.carousel').carousel();
    $('.materialboxed').materialbox();
  });
</script>